@model Shopp.Models.Category

@{
    ViewBag.Title = "Удаление категории";
}

<link rel="stylesheet" href="~/css/deleteCategory.css" />

<h1>Удаление категории</h1>
<hr />
<div class="delete-confirmation">
    <p>Вы уверены, что хотите удалить категорию <strong>@Model.Names</strong>?</p>
    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>@Html.DisplayFor(model => model.Names)</dd>
    </dl>

    <div>
        <form asp-controller="Home" asp-action="DeleteCategory" method="post">
            <input type="hidden" asp-for="CategoriesId" />
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value="Удалить" />
                <a asp-action="Index" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>